* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    width: 60%;
    margin: 20px auto 0 auto;
    border: solid 1px gainsboro;
    border-radius: 6px;
}

.left {
    width: 55%;
    float: left;
    padding: 60px 40px;
}

.right {
    width: 45%;
    float: right;
    text-align: center;
    padding: 120px 60px;
}

.cb {
    clear: both;
}

.left input {
    padding: 3px 10px;
    /*font-size: 16px;*/
}

.w-50 {
    width: 49%;
}

.w-100 {
    width: 99%;
}

.enlace {
    width: 50%;
    float: left;
    padding-top: 20px;
}

.boton {
    width: 50%;
    float: right;
    text-align: right;
    padding-top: 20px;
}

input[name="mostrar"] {
    margin-right: 16px; /*dejamos un hueco entre el cuadrado y mostrar contraseña*/
}

.left input[value="Siguiente"] {
    background-color: #1a73a9;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 15px;
}

a {
    text-decoration: none;
}

form a {
    color: #4d80ae;
}

.idioma {
    width: 30%;
    float: left;
}

footer nav {
    width: 70%;
    float: right;
    text-align: right;
}

footer {
    width: 60%;
    margin: 0 auto;
    padding: 10px 0;
}

footer nav ul, footernav li {
    margin: 0;
    padding: 0;
}

footer nav li{
    list-style-type: none;
    display: inline; /*los ponemos todos en una fila*/
    margin-left: 30px;
}

footer a {
    color: black;
}
